body {
  margin: 0;
  padding: 0;
  font-family: arial,sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}

nav * {
  margin-left: 14;
  margin-right: 14;
  margin-top: 5px;
}

.display-pic {
  height: 40px;
  width: 40px;
  border-radius: 40px;
}

.menu-button {
  height: 40px;
  width: 43px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

span {
  margin: 10;
}

section {
  display: flex;
  height: 90%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.logo {
  margin-top: 90;
  display: flex;
  flex-direction: column;
}

.google-image {
  align-self: center;
  width: 400px;
}

.input-div {
  display: flex; 
  justify-content: center;
}

.input {
  width: 510px; 
  height: 49px; 
  border-radius: 30px; 
  padding-left: 10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.buttons-container {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;
}

.button {
  padding: 15px 24px; 
  background-color: #f3f3f3; 
  border: none; 
  margin: 15px 5px; 
  font-size: 13px; 
  border-radius: 3px;
}

footer {
  display: flex;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  font-size: 13px;
}

footer * {
  margin-left: 14;
  margin-right: 14;
}